.budget {
  font-size: 2em;
}

.budget__previous-link,
.budget__next-link {
  text-decoration: none;
  color: #444;
}

.budget__id {
  margin: 0 .5em;
}

.budget__previous-link,
.budget__next-link,
.budget__id {
  display: inline;
  vertical-align: middle;
}
